<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button (click)="findByGenres($event)">
                Genres
            </button>
        </ion-buttons>
        <ion-segment [(ngModel)]="category">
            <ion-segment-button value="new">
                New
            </ion-segment-button>
            <ion-segment-button value="hot">
                Hot
            </ion-segment-button>
        </ion-segment>
        <ion-buttons end>
            <button ion-button (click)="searchSongs($event)">
                <ion-icon name="toolbar-search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="category">
        <ion-list *ngSwitchCase="'new'">
            <ion-item *ngFor="let song of newSongs">
                <ion-thumbnail item-left>
                    <img [src]="song.image">
                </ion-thumbnail>
                <h2>{{ song.name }}</h2>
                <p>{{ song.artist }}</p>
                <button ion-button icon-only item-right>
                    <ion-icon name="song-play"></ion-icon>
                </button>
                <button ion-button icon-only item-right>
                    <ion-icon name="song-info"></ion-icon>
                </button>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'hot'">
            <ion-item *ngFor="let song of hotSongs">
                <ion-thumbnail item-left>
                    <img [src]="song.image">
                </ion-thumbnail>
                <h2>{{ song.name }}</h2>
                <p>{{ song.artist }}</p>
                <button ion-button icon-only item-right>
                    <ion-icon name="song-play"></ion-icon>
                </button>
                <button ion-button icon-only item-right>
                    <ion-icon name="song-info"></ion-icon>
                </button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>