page-search-details {
    .list {
        .item {
            padding-left: 10px;

            .label {
                margin: 4px 8px 4px 0;

                h2 {
                    font-size: 1.5rem;
                    color: #488aff;
                }

                p {
                    margin-top: 4px;
                    font-size: 1.3rem;
                }
            }

            .button {
                background-color: transparent;
            }
        }
    }
}
