page-search {
    .no-results {
        padding-top: 120px;
        text-align: center;

        .icon {
            font-size: 10rem;
            color: #757575;
        }

        p {
            color: #333;
            font-size: 1.4rem;

            strong {
                color: #347eff;
            }
        }
    }

    .list {
        .item {
            padding-left: 10px;

            .title {
                font-size: 1.5rem;
            }

            .more {
                color: #347eff;
                font-size: 1.1rem;
                text-transform: capitalize;
            }

            .label {
                margin: 4px 8px 4px 0;

                h2 {
                    font-size: 1.5rem;
                    color: #488aff;
                }

                p {
                    margin-top: 4px;
                    font-size: 1.3rem;

                    &.lyrics {
                        color: #333;
                    }
                }
            }

            .button {
                background-color: transparent;
            }
        }
    }
}
