page-detail {
    .song {
        padding: 10px;

        .col-xs-8 {
            position: relative;
        }

        .image {
            width: 100px;
            height: 100px;
            border-radius: 8px;
        }

        .name {
            margin: 5px 0 0 10px;
            font-size: 1.8rem;
            color: #488aff;
        }

        .artist {
            margin: 5px 10px;
            color: #333;
            font-weight: 400;
            font-size: 1.5rem;
        }

        .genre {
            position: absolute;
            bottom: 0;
            margin: 5px 10px;
            font-size: 1.25rem;
            color: #333;
        }
    }

    .navigator {
        padding: 0 10px 5px 10px;
        border-bottom: 1px solid #E0E0E0;

        .button {
            font-size: 1.3rem;
        }

        .icon {
            margin-right: 10px;
        }

        .ico-favorite {
            color: #F44336;
        }
    }

    .lyrics {
        height: calc(100% - 190px);
        margin: 0 10px;
        font-size: 1.6rem;
        color: #333;
        line-height: 1.5;
        overflow-x: hidden;
        overflow-y: auto;
    }
}